.form__div {
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: var(--light-purple);
    max-width: 30vw;
    margin-inline: auto;
}

.form__div h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form__div form {
    display: flex;
    flex-direction: column;
}

.form__div input,
.form__div button {
    border: none;
    border-radius: 3px;
    color: var(--white);
    font-family: var(--font);
}

.form__div input {
    padding: 10px;
    background-color: rgba(120, 120, 120, 0.2);
    margin-bottom: 10px;
}

.form__div button {
    padding: 10px 20px;
    background-color: var(--primary);
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .form__div {
        max-width: 100%;
    }
}
