:root {
    --dark-purple: #171722;
    --light-purple: #24273d;
    --white: #fff;
    --black: #000;
    --gray: #c5c5c5;
    --primary: rgb(35, 161, 211);
    --red: rgb(187, 30, 30);
    --transparent-black: rgba(120, 120, 120, 0.2);
    --font: "Poppins", sans-serif;
}

body {
    margin: 0;
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--dark-purple);
    color: var(--white);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
