.container {
    margin: none;
    margin-inline: auto;
    background-color: var(--light-purple);
    padding: 20px 10px;

    display: flex;
    flex-direction: column;
}

.container h1 {
    margin: 0;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    color: var(--white);
    margin: 0 10px;
    cursor: pointer;
}

.btn__home {
    background-color: var(--light-purple);
}

.btn__back {
    background-color: var(--primary);
}

.container h1 {
    font-size: 2em;
}
